body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #333333;
  }
  
  .loginContainer {
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  input[type="text"], input[type="password"], input[type="number"] {
    padding: 5px;
    width: 150px;
    margin: 5px;
  }
  
  button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .balance, .transaction {
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  p {
    font-size: 20px;
    color: #333333;
  }
  footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }  